# IDE
/.idea

# Mib
/syn2*.sh

# NXS CLI
/cli/Generated/*

# Composer
/vendor

# Ignoring
!.gitkeep

unison.sh

# Spryker
/current/src/Orm/Propel/DE/Migration_pgsql/*
/current/src/Orm/Propel/AT/Migration_pgsql/*
/current/src/Orm/Propel/US/Migration_pgsql/*
